body {
  /*  font-family: courier;*/
  font-family: serif;
  font-weight: 100;
  font-size: 25px;
  gap: 0px;
  background-color: #fff;
  /* background-image: url(img/5.png);*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: #706f6f;
  -webkit-font-smoothing: antialiased;
}

/*text*/
h1 {
  font-family: sans-serif;
  font-size: 40px;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: -2;
  color: #101010;
  background: none;
  vertical-align: text-top;
  width: 100%;
}

h2 {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: normal;
  /*  border-bottom: 1px dotted currentColor;*/
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 2px dotted #706f6f;
  background-color: none;
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

a {
  color: deeppink;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

span {
  margin-left: 25px;
  background: none;
}

/*content*/
main {
  margin: 20px;
  background-color: none;
}

.content {
  margin: auto;
  margin-top: 150px;
  background: none;
  width: 60%;
}

header {
  position: fixed;
  width: 60%;
  margin: auto;
  background: none;
  height: auto;
  top: 0;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
  mix-blend-mode: difference;
  moz-mix-blend-mode: difference;
  webkit-mix-blend-mode: difference;
  o-mix-blend-mode: difference;
}
.icons {
  position: fixed;
  margin: 0;
  right: 20px;
  top: 20px;
  width: 100px;
}
.seed {
  width: 100px;
}
.img {
  margin: 0;
  padding: 0;
}

.illustrations {
  margin: 0;
  left: 0;
  position: relative;
  display: block;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 20px;
  }

  .content {
    margin: auto;
    margin-top: 200px;
    background: none;
    width: 100%;
  }

  h1 {
    font-size: 4.5vw;
  }

  h2 {
    font-size: 18px;
    width: 100%;
  }

  header {
    width: 100%;
    background: red;
    text-align: left;
  }
}
